body{
    overflow: scroll;
    background-color: #f0f2f5;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    direction: ltr;
    unicode-bidi: embed;
    line-height: 1.34;
}

.main-container{
    text-align: center;
    margin: 40px;
    padding: 50px;
    width: auto;
    position: relative;
}
.banner{
    display: inline-block;
    width: 400px;
    box-sizing: border-box;
    margin-right: 0;
    padding-right: 32px;
    vertical-align: top;
}
.login{
    display: inline-block;
}
form {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
  
input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4267b2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
a {
    color: #4267b2;
    text-decoration: none;
    margin-top: 20px;
    display: block;
}
  
p {
    margin-top: 20px;
}
img{
    max-width: 400px;
}